@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* display: grid; */
  /* grid-template-columns: 25% 1fr; */
  /* position: fixed; */
  min-height: 1vh;
  background-color: #1d1525;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	filter: invert(1);
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
